body {
    background-color: #000;
}

.stopwatch-time {
    text-align: center;
    color: #fff;
    font-size: 80px;
}

.stopwatch-buttons {
    display: flex;
    justify-content: center;
}

.stopwatch-buttons button {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border-radius:9px ;
}

.stopwatch-buttons button.start {
    background-color: green;
}

.stopwatch-buttons button.reset {
    background-color: red;
}

.stopwatch-buttons button.lap {
    background-color: rgb(255, 234, 0);
    color: #000;
}

.stopwatch-laps{
    /* background-color: antiquewhite; */
    overflow-y: scroll;
    height: 270px;
}

.stopwatch-laps h3,p{
    color:whitesmoke
}


::-webkit-scrollbar{
    display: none;
}